:root {
	--text-color-7: #ffffff;
	--text-color-8: #cecece;
	--text-color-9: #ebebeb;
	--gradient-1: linear-gradient(180deg, var(--color-1) 0%, var(--color-2) 100%);
	--gradient-2: linear-gradient(135deg, var(--color-3) 0%, var(--color-4) 100%);
	--gradient-3: linear-gradient(130deg, #000000 0%, #682a65fa 20%);
	--gradient-1-reverted: linear-gradient(-180deg, var(--color-2) 0%, var(--color-1) 100%);
	--gradient-2-reverted: linear-gradient(-135deg, var(--color-3) 0%, var(--color-4) 100%);
	--gradient-3-reverted: linear-gradient(-135deg, var(--color-2) 0%, var(--color-3) 100%);
	--gradient-1-vertical: linear-gradient(90deg, var(--color-1) 0%, var(--color-2) 100%);
	--gradient-2-vertical: linear-gradient(180deg, var(--color-3) 0%, var(--color-4) 100%);
	--text-size-sm: 13px;
	--text-size-md: 15px;
	--text-size-lg: 20px;
	--text-size-xl: 25px;
	--text-size-xxl: 35px;
	--sidebar-expand-width: 250px;
	--sidebar-width: 90px;
	--sidebar-start-img-width: 40px;
	--button-text-size: var(--text-size-md);
	--mini-button-text-size: var(--text-size-sm);
	--title-text-size: var(--text-size-lg);
	--mini-title-text-size: var(--text-size-md);
	--paragraphe-text-size: var(--text-size-sm);
	--content-padding: 40px;
	--button-padding: 15px 20px;
}

@media only screen and (max-width: 600px) {
	:root {
		/* Redefine las variables CSS aquí para pantallas pequeñas */
	}
}

::-webkit-scrollbar {
	height: 12px;
	width: 7px;
	background: rgba(255, 0, 191, 0);
}

::-webkit-scrollbar-thumb {
	background: #00000000;
}

*::selection {
	background: #b3b3b386;
}

body {
	overflow: auto;
}

#app {
	display: flex;
	height: 100%;
	width: 100%;
	overflow: auto;
	color: var(--text-color-1);
	font-family: 'Nunito', sans-serif;
}

#content {
	background: var(--gradient-2-vertical);
	margin-left: var(--sidebar-width);
	height: 100%;
	width: 100%;
	flex: 1;
	overflow-y: auto; /* Agrega la barra de desplazamiento vertical */
	overflow-x: auto; /* Oculta la barra de desplazamiento horizontal */
	background-attachment: fixed;
	background-size: cover;
}

#content .content-wrapper {
	min-height: 100vh;
	padding: calc(var(--content-padding) / 2) var(--content-padding);
	background: linear-gradient(0deg, var(--color-3) 0%, var(--color-3) 30%, var(--color-3) 40%, var(--color-5) 100%), var(--settings-background);
	background-attachment: fixed;
	background-size: cover;
}

.imagen {
	position: relative;
	width: 70%;
	left: 5%;
	border-radius: 20px;
	box-shadow: 0px 0px 40px white;
	animation: floating 4.5s ease-in-out infinite
}

.floating {
	animation-name: floating;
	animation-duration: 3s;
	animation-iteration-count: infinite;
	animation-timing-function: ease-in-out;
	margin-left: 30px;
	margin-top: 5px;
}

@keyframes floating {
	0% {
		transform: translate(0, 0px);
	}
	50% {
		transform: translate(0, 15px);
	}
	100% {
		transform: translate(0, -0px);
	}
}

.loader-page {
	position: fixed;
	z-index: 25000;
	background: rgb(0, 0, 0);
	height: 100%;
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	transition: all .3s ease;
	animation: loader-page;
	animation-duration: 2.4s;
	animation-timing-function: ease-in-out;
}

.loaderimagen {
	width: 43%;
	animation-name: carga;
	animation-duration: 2.4s;
	animation-timing-function: ease-in-out;
}

@keyframes loader-page {
	0% {
		opacity: 1;
	}
	70% {
		opacity: 1;
	}
	100% {
		opacity: 0;
	}
}

@keyframes carga {
	0% {
		opacity: 0;
	}
	50% {
		opacity: 1;
	}
	100% {
		opacity: 0;
	}
}

#cuadroexpli{
	margin: 4px;
	left: 10px;
	width: 550px; /* Ajusta según sea necesario */
	height: 370px; /* Ajusta según sea necesario */
	position: relative; /* Esto permite que los elementos hijos posicionados absolutamente se posicionen en relación a este elemento */
	background: rgba(0, 0, 0, 0.392); /* Ajusta según sea necesario */
	border-radius: 15px; /* Ajusta según sea necesario */
	box-sizing: border-box; /* Asegura que el padding y el borde estén incluidos en el tamaño total del elemento */
	padding: 10px; /* Ajusta según sea necesario */
	border: 2px solid #4e4e4e;
}

#servercuadro{
	left: 100px;
	width: 350px; /* Ajusta según sea necesario */
	height: 50px; /* Ajusta según sea necesario */
	position: relative; /* Esto permite que los elementos hijos posicionados absolutamente se posicionen en relación a este elemento */
	background: rgba(0, 0, 0, 0.392); /* Ajusta según sea necesario */
	border-radius: 15px; /* Ajusta según sea necesario */
	box-sizing: border-box; /* Asegura que el padding y el borde estén incluidos en el tamaño total del elemento */
	padding: 10px; /* Ajusta según sea necesario */
	border: 2px solid #4e4e4e;
}
#serverStatus{
	font-family: 'minecrafte', sans-serif;
	font-size: 1.1rem;
}
#statusIndicator {
	height: 20px;
	width: 20px;
	border-radius: 50%;
	animation: opacityAnimation 3s infinite;
	position: absolute; /* Esto posiciona el elemento en relación a su contenedor más cercano con posición relativa */
	top: 10px; /* Ajusta según sea necesario */
	right: 10px; /* Ajusta según sea necesario */
}
@keyframes opacityAnimation {
    0% { opacity: 1; }
    50% { opacity: 0; }
    100% { opacity: 1; }
}
#contadorcuadro{
	margin: 4px;
	left: 10px;
	width: 140px; /* Ajusta según sea necesario */
	height: 70px; /* Ajusta según sea necesario */
	position: relative; /* Esto permite que los elementos hijos posicionados absolutamente se posicionen en relación a este elemento */
	background: rgba(0, 0, 0, 0.392); /* Ajusta según sea necesario */
	border-radius: 15px; /* Ajusta según sea necesario */
	box-sizing: border-box; /* Asegura que el padding y el borde estén incluidos en el tamaño total del elemento */
	padding: 10px; /* Ajusta según sea necesario */
	border: 2px solid #4e4e4e;
	display: flex; /* Esto permite que los elementos hijos se alineen en una fila */
	align-items: center; /* Esto centra los elementos hijos verticalmente */
}

#iconoplayers{
	margin-right: 10px; /* Esto crea espacio entre el icono y el texto */
	width: 50px; /* Ajusta según sea necesario */
	height: 50px; /* Ajusta según sea necesario */
	background: rgba(133, 133, 133, 0.392); /* Ajusta según sea necesario */
	border-radius: 20%; /* Esto hace que el icono sea un círculo */
	font-size: 40px;
	display: flex; /* Esto permite que el icono se centre en el cuadrado */
	justify-content: center; /* Esto centra el icono horizontalmente */
	align-items: center; /* Esto centra el icono verticalmente */
}

#playerCount{
	margin-top: 15px;
	margin-left: 15px; /* Esto crea espacio entre el icono y el texto */
	font-family: 'minecrafte', sans-serif;
	font-size: 2rem;
}

html, body {
	height: 100%;
	overflow: auto;
}
@font-face {
    font-family: 'minecrafte'; /* Puedes cambiar 'MiFuente' por el nombre que desees */
    src: url('../img/Minecrafter.Reg.ttf'); /* Asegúrate de reemplazar 'miFuente.ttf' con la ruta correcta a tu archivo .ttf */
}
