
:root {

    --text-color-7: #ffffff;
    --text-color-8: #cecece;
    --text-color-9: #ebebeb;

    --gradient-1: linear-gradient(180deg, var(--color-1) 0%, var(--color-2) 100%);
    --gradient-2: linear-gradient(135deg, var(--color-3) 0%, var(--color-4) 100%);
    --gradient-3: linear-gradient(130deg, #000000 0%, #4a1212fa 20%);

    --gradient-1-reverted: linear-gradient(-180deg, var(--color-2) 0%, var(--color-1) 100%);
    --gradient-2-reverted: linear-gradient(-135deg, var(--color-3) 0%, var(--color-4) 100%);
    --gradient-3-reverted: linear-gradient(-135deg, var(--color-2) 0%, var(--color-3) 100%);

    --gradient-1-vertical: linear-gradient(90deg, var(--color-1) 0%, var(--color-2) 100%);
    --gradient-2-vertical: linear-gradient(180deg, var(--color-3) 0%, var(--color-4) 100%);

    --text-size-sm: 13px;
    --text-size-md: 15px;
    --text-size-lg: 20px;
    --text-size-xl: 25px;
    --text-size-xxl: 35px;

    --sidebar-expand-width: 250px;
    --sidebar-width:90px;
    --sidebar-start-img-width: 40px;

    --button-text-size:var(--text-size-md);
    --mini-button-text-size:var(--text-size-sm);
    --title-text-size:var(--text-size-lg);
    --mini-title-text-size:var(--text-size-md);
    --paragraphe-text-size:var(--text-size-sm);
    --content-padding: 40px;

    --button-padding: 15px 20px;

}
::-webkit-scrollbar {
    height: 12px;
    width: 7px;
    background: rgb(255, 0, 0);
}

::-webkit-scrollbar-thumb {
    background: var(--text-color-3);
}
*::selection {
    background:#b3b3b386;
}
body {
    overflow:hidden;
}
#app {
    display:flex;
    height:100%;
    width: 100%;
    overflow:hidden;
    color:var(--text-color-1);
    font-family: 'Nunito', sans-serif;
}
#content {
    background:var(--gradient-2);
    flex:1;
    overflow-y:auto;
    overflow-x:hidden;
    background-attachment: fixed;
    background-size:cover;
}
#content .content-wrapper {
    min-height:100vh;
    padding: calc(var(--content-padding) / 2) var(--content-padding);
    background:linear-gradient(0deg, var(--color-3) 0%,var(--color-3) 30%, var(--color-3) 40%,var(--color-5) 100%),var(--settings-background);
    background-attachment: fixed;
    background-size:cover;
}
#socialLinks {
    position:absolute;
    bottom:100%;
    left:0;
    right:0;
    display:flex;
    align-items: center;
    justify-content:center;
    padding-bottom:10px;
}
#socialLinks .social-item {
    width:60px;
    box-shadow: 0px 0px 10px rgb(46, 5, 5);
    height:60px;
    display:flex;
    align-items: center;
    justify-content:center;
    margin:0 10px;
    background:var(--color-4);
    border-radius:10px;
    font-size:25px;
    color: rgb(255, 255, 255);
    transition: all ease 0.6s;
}
#socialLinks .social-item:hover {
    transform:scale(1.15);
    transition: all ease 0.6s;
    box-shadow: 0px 0px 20px rgb(255, 1, 1);
}
#socialLinks .social-item i {
    line-height:0;
}

hr.solidseparador {
    border-top: 4px solid #ffffff;
    border-radius: 30px;
    width: 650PX;
    position: relative;
    margin-top: 5px;
    margin-left: 286px;
  }