
#homebanner {
    position:relative;
    border-radius:15px;
    background-size:cover;
    margin-left: 50px;
    width: 700px;
    height: 500px;
    background-position:center;
    background-repeat: no-repeat;
    background-image:linear-gradient(90deg, black 0%, rgba(0, 0, 0, 0.185) 100%),var(--settings-background);

    transition:all ease 0.6s;
}
#homebanner:hover {
    transition:all ease 0.6s;
}
#homebanner .hommebanner-content {
    top:0;
    bottom:0;
    left:0;
    position:relative;
    min-height:100%;
    padding:100px 40px;
    display:flex;
    flex-direction: column;
    justify-content: left;
}
#homebanner .hommebanner-content .description {
    font-size:var(--paragraphe-text-size);
    color:var(--text-color-9);
    max-height:100px;
    max-width:800px;
    overflow:hidden;
    display: block;
    display: box;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    text-overflow: ellipsis;
    white-space: normal;
}

#homebanner .hommebanner-content .title {
    color:var(--text-color-7);
    font-weight:bold;
    font-size:var(--title-text-size);
    display: block;
    white-space: normal;
    max-width:400px;
}
#homebanner .hommebanner-content .title-mini {
    display:flex;
    max-width:800px;
    align-items: center;
    color:var(--text-color-7);
    font-size:var(--mini-title-text-size);
}
#homebanner .playerlist {
    color:var(--text-color-7);
    display:flex;
    align-items: center;
    font-size:var(--mini-button-text-size);
}
#homebanner .playerlist .online {
    animation: flashgreen ease-in-out 1.5s infinite;
    background: rgb(42, 231, 42);
    border-radius:50px;
    transform:translateY(-1px);
    width:11px;
    height:11px;
}
#homebanner .playerlist .offline {
    animation: flashred ease-in-out 1.5s infinite;
    background: rgb(231, 64, 42);
    border-radius:50px;
    transform:translateY(-1px);
    width:11px;
    height:11px;
}
#homebanner .btn-ip {
    position:relative;
    overflow:hidden;
    min-width:150px;
}
#homebanner .btn-ip .ip {
    display:inline-block;
    opacity:1;
    transform:translateY(0);
    transition:all ease 0.6s;
}
#homebanner .btn-ip .after {
    position:absolute;
    display:flex;
    transform:translateY(20px);
    align-items: center;
    justify-content: center;
    top:0;bottom:0;left:0;right:0;
    opacity:0;
    transition:all ease 0.6s;
}
#homebanner .btn-ip:hover .ip {
    opacity:0;
    transform:translateY(-20px);
    transition:all ease 0.6s;
}
#homebanner .btn-ip:hover .after {
    opacity:1;
    transform:translateY(0);
    transition:all ease 0.6s;
}
@keyframes flashgreen {
    0% {
        box-shadow: 0 0 #31c73db0;
    }
    75% {
        box-shadow: 0 0 0 10px rgb(40 167 69 / 0%);
    }
    100% {
        box-shadow: 0 0 rgb(40 167 69 / 0%);
    }
}

@keyframes flashred {
    0% {
        box-shadow: 0 0 #c73131b0;
    }
    75% {
        box-shadow: 0 0 0 10px rgb(40 167 69 / 0%);
    }
    100% {
        box-shadow: 0 0 rgb(40 167 69 / 0%);
    }
}
